.profile-input {
  font-weight: 400;
  height: 32px;
  width: 100%;
  background-color: inherit;
  color: #e2e0e0;
  margin-bottom: 6px;

  &__label {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: inherit;
  }

  &__input {
    height: 100%;
    width: 100%;
    padding-left: 50%;
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    outline: none;
    border: none;
    border-bottom: 1px solid #464545;
    background-color: inherit;
    color: #999;
  }

  &__error-message {
    position: absolute;
    font-size: 10px;
    margin-bottom: 3px;
    color: #f8493e;
  }

  &__input:focus {
    border-color: #3369f3;
  }

  &__input:valid:not(:placeholder-shown):not(:focus):not(._error) {
    border-color: #33f3ae;
  }

  &__input._error {
    border-color: #f8493e;
  }

  &__input::placeholder {
    opacity: 0;
  }

  &__label-text {
    position: absolute;
    width: 50%;
    left: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  &__label-text > sup {
    position: absolute;
    bottom: 5px;
    right: 2px;
    color: #f8493e;
  }
}
