@import "/common/common.css";
@import "/vendor/fonts/font.css";
@import "/blocks/root/root.css";
@import "/blocks/input/input.css";
@import "/blocks/btn/btn.css";
@import "/blocks/title/title.css";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  border: 1px solid #999999;
  border-radius: 12px;
  width: 340px;
  min-height: 450px;
  padding: 30px;
}

.login__input {
  margin-bottom: 20px;
}

.login__btn:not(:last-child) {
  margin-top: auto;
  margin-bottom: 16px;
}

.login__title {
  margin: 20px auto 50px;
}
