.message {
  border-radius: 12px;
  padding: 12px;
  display: flex;
  background: #777768;
  margin-bottom: 10px;
  max-width: 50%;
  flex-direction: column;
  align-items: flex-end;

  &_my {
    margin-left: auto;
    border-bottom-right-radius: 0;
    background-color: #808080;
  }

  &_not-my {
    margin-right: auto;
    border-bottom-left-radius: 0;
    background-color: #3369f3;
  }

  &__text {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
  }

  &__time {
    font-size: 9px;
    line-height: 9px;
    color: #999;
  }

  &__notification {
    display: inline-block;
    width: 10px;
    height: 5px;
    margin-left: calc(100% - 38px);
    background-repeat: no-repeat;
    background-image: url(/static/media/notification.svg);
  }
}
