.sidebar {
  flex-shrink: 0;
  width: 300px;
  border-right: 1px solid #464545;
  padding: 22px 10px 0;
}

.sidebar__link {
  display: block;
  width: fit-content;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 24px;
  margin-left: auto;
  color: #999;
  text-decoration: none;
}

.sidebar__link::after {
  content: '>';
  margin-left: 8px;
}

.sidebar__input {
  border: none;
  outline: none;
  padding: 0 30px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  height: 32px;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
  background: #464545 url(/media/search.svg) no-repeat 100px;
}

.sidebar__input:not(:placeholder-shown) {
  background-position: 5px;
}

.sidebar__input::placeholder {
  text-align: center;
  width: fit-content;
  color: #999999;
}

