.btn {
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;

  &_blue {
    background: #3369f3;
    color: #e2e0e0;
  }

  &_white {
    color: #3369f3;
    background: #efefef;
  }
}
