.title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  &_size_s {
    font-size: 15px;
    line-height: 20px;
  }

  &_size_xs {
    font-size: 13px;
    line-height: 13px;
  }

  &_size_m {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
  }
}
