.chat-room-header {
  display: flex;
  position: relative;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #464545;
  box-shadow: 5px 5px 15px 5px #2E2C2C;

  &__name {
    order: 2;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: #E2E0E0;
    margin-right: auto;
  }

  &__detail {
    order: 2;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/src/mediaedia/dots.svg");
  }

  &__detail_active {
    background-color: #3369F3;
  }

  &__avatar {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  &__avatar-btn {
    padding: 0;
    height: 34px;
    width: 34px;
    order: 1;
    border: none;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
    background-color: #fff;
  }

  &__form {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #464545;
  }
}
