
.profile {
  position: relative;
}

.profile__aside {
  position: absolute;
  width: 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #464545;
}

.profile__main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.profile__back-link {
  background-image: url(/media/arrow.svg);
  transform: rotate(180deg);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #3369F3;
}

.profile__avatar {
  cursor: pointer;
  position: relative;
  width: 130px;
  height: 130px;
  border: none;
  outline: none;
  background-color: #999999;
  background-image: url('/media/avatar.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.profile__avatar::after {
  content: 'Поменять аватар';
  vertical-align: middle;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  padding: 10px;
  color: #E2E0E0;
  background-color: rgba(0,0,0,.5);
  transition: .1s ease;
}

.profile__avatar:hover::after {
  opacity: 1;
}

.profile__title {
  margin-bottom: 60px;
}

.profile__form {
  max-width: 510px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.profile__changes {
  display: block;
  max-width: 510px;
  margin-top: auto;
  width: 100%;
}

.profile__change {
  height: 32px;
  vertical-align: center;
  border-bottom: 1px solid #464545;
}

.profile__btn {
  margin-top: auto;
  min-width: 280px;
  width: fit-content;
}

.profile__btn_hidden {
  display: none;
}

.profile__link {
  padding: 0;
  display: inline;
  text-decoration: none;
  color: #3369F3;
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 32px;
  height: 32px;
  cursor: pointer;
}

.profile__link_red {
  color: #F8493E;
}
