.input {
  font-weight: 400;
  height: 36px;
  width: 100%;
  background-color: inherit;
  color: #E2E0E0;
}
.input__label {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: inherit;
}
.input__input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #464545;
  background-color: inherit;
  color: #E2E0E0;
}
.input__input:invalid, .input__input._error {
  border-color: #F8493E;
}
.input__input:valid:not(:placeholder-shown):not(:focus):not(._error) {
  border-color: #33F3AE;
}
.input__input::placeholder {
  opacity: 0;
}
.input__input:focus {
  border-color: #3369F3;
}
.input__label-text {
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 0;
  padding: 2px 8px 2px 2px;
  background-color: inherit;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.input__label-text > sup {
  position: absolute;
  bottom: 5px;
  right: 2px;
  color: #F8493E;
}
.input__input:not(:placeholder-shown) + .input__label-text,
.input__input:focus + .input__label-text {
  top: 0;
  font-size: 9px;
}

.input__error-message {
  font-size: 12px;
  color: #F8493E;
}
